[**DevExtreme React ValidationGroup API v26.1.0**](../../../../README.md)

***

[DevExtreme React ValidationGroup API](../../../../globals.md) / [ValidationGroupTypes](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `dxValidationGroupResult`

Defined in: devextreme/artifacts/npm/devextreme/ui/validation\_group.d.ts:95
