[**DevExtreme React Validator API v26.1.0**](../../../../README.md)

***

[DevExtreme React Validator API](../../../../globals.md) / [ValidatorTypes](../README.md) / ValidationResult

# Type Alias: ValidationResult

> **ValidationResult** = `dxValidatorResult`

Defined in: devextreme/artifacts/npm/devextreme/ui/validator.d.ts:173
